.container {
    display: flex;
    flex-direction: row;
    gap: 48px;
    padding: 20px 30px;
    background-color: var(--color-primary-dark);
    border: 2px solid var(--color-primary-dark);
    border-radius: 8px;
}

.container:hover {
    border: 2px solid var(--color-secondary);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-size: 25px;
    margin: 0px;
    font-weight: 500;
    color: var(--color-text);
}

.subtitle {
    font-size: 20px;
    margin: 0px;
    font-weight: 300;
    color: var(--color-text);
}

.description,
.location {
    font-size: 18px;
    font-weight: 300;
    margin: 0px;
    word-break: break-all;
    white-space: pre-line;
    color: var(--color-text-secondary);
}

.location {
    padding-inline-start: 20px;
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        gap: 20px;
        padding: 16px;
    }

    .title {
        font-size: 22px;
    }
    
    .title {
        font-size: 18px;
    }

    .description,
    .location {
        font-size: 16px;
    }
}