.container {
    display: flex;
    flex-direction: row;
    gap: 48px;
    padding: 20px 30px;
    background-color: var(--color-primary-dark);
    border: 2px solid var(--color-primary);
    border-radius: 8px;
}

.container:hover {
    border: 2px solid var(--color-secondary);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-size: 25px;
    margin: 0px;
    font-weight: 500;
    color: var(--color-text);
}

.description {
    font-size: 18px;
    font-weight: 300;
    margin: 0px;
    color: var(--color-text-secondary);
}

.mark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-text);
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        gap: 20px;
        padding: 16px;
    }

    .title {
        font-size: 22px;
    }

    .description {
        font-size: 16px;
    }

    .mark {
        display: none;
    }
}