.box {
    padding: 5px 15px;
    border: 1px solid var(--color-icon-50perc);
    border-radius: 40px;
}

.box:hover {
    border: 1px solid var(--color-icon);
}

.text {
    margin: 0px;
    font-size: 15px;
    font-weight: 300;
    color: var(--color-text-secondary);
}

@media only screen and (max-width: 600px) {
    .text {
        font-size: 13px;
    }
}
