.content {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.horizontal {
    flex-direction: row;
    padding: 0px;
}

.vertical {
    flex-direction: column;
    padding: 16px 8px 16px 40px;
}

@media only screen and (max-width: 600px) {
    .content {
        flex-direction: row;
        padding: 0px;
    }
}