.outer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.line {
    height: 34px;
    border-left: 1px solid var(--color-secondary);
}

.text {
    font-weight: 500;
    font-size: 18px;
    margin: 0px;
    color: var(--color-text);
}

@media only screen and (max-width: 600px) {
    .text {
        font-size: 14px;
    }
}