.outer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: var(--color-primary-dark);
    border-radius: 10px;
    padding: 24px;
}

.text {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-text);
}

.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background: #22b29c radial-gradient(circle, transparent 1%, #33bea9 1%) center/15000%;
}

.ripple:active {
    background-color: #1BB59E;
    background-size: 100%;
    transition: background 0s;
}

button {
    width: fit-content;
    height: fit-content;
    padding: 16px 24px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-secondary);
    font-size: 14px;
    color: var(--color-text);
    cursor: pointer;
    box-shadow: 0 0 2px #999;
    outline: none;
}

@media only screen and (max-width: 600px) {
    .content {
        padding: 16px;
        align-items: flex-end;
    }

    .text {
        font-size: 14px;
    }
}