.about-section-div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    padding: 0px 160px;
}

.about-avatar-div {
    width: 100%;
    height: 100%;
    display: contents;
}

.about-avatar-box {
    border: 15px solid var(--color-secondary);
    box-sizing: border-box;
    padding: 20px;
    position: relative;
}

.about-avatar-in {
    margin: 0 auto;
    border: 10px solid var(--color-text);
}

.about-avatar {
    background-size: 100% auto;
    width: 292px;
    height: 440px;
    background: linear-gradient(0deg, rgba(27, 181, 158, 0.25), rgba(27, 181, 158, 0.25)), url(../asset/about_img.JPG);
    background-position: center;
    background-size: 100%;
}

.about-text {
    font-weight: 400;
    color: var(--color-text);
}

.pill-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

@media only screen and (max-width: 600px) {
    .about-section-div {
        flex-direction: column;
        padding: 0px 16px;
        gap: 24px;
    }
}