:root {
    --color-primary-dark: #1B2834;
    --color-primary: #2A4054;
    --color-secondary: #1BB59E;
    --color-text: #F5FFFC;
    --color-text-variant: #7D9F9A;
    --color-text-secondary: #B7B7B7;
    --color-icon: #B7B7B7;
    --color-icon-50perc: rgba(183, 183, 183, 0.5);

    /* phone variable */
    --phone-hz-padding: 16px;
}

html {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;

    background-color: var(--color-primary);
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 16px;
        line-height: 19px;
    }
}